.head{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkslategrey;
    text-align: center;
    padding: 30px;
}
.c{
    display: flex;
    text-align: center;

}

.c1{
    border: 2px solid black;
    padding: 70px;
    margin:auto;
    display: inline-block;
    background-color: red;
}
.flex1{
    display: flex;
    /* margin: auto; */
    text-align: center;
    width: 70%;
    padding: 20px;
    
}
.flex2{
    /* margin: auto; */
    text-align: center;
    width: 30%;
    padding: 30px;
    
}

 @media screen and (min-width:768px) and (max-width:991px)
{
    .c{
        display: flex;
        flex-direction: column;
    }
    .flex1{
        width: 100%;
    }
    .flex2{
        width: 100%;
       
    }
    .c1{
        background-color: yellow;
        margin: 10px;
        margin: auto;
    }
}

@media screen and (max-width:767px)
{
    .c{
        display: flex;
        flex-direction: column;
    }
    .flex1{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .flex2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .c1{
        background-color: green;
        margin: 20px;
    }
} 